extends layout
block content
  - console.log(result)
  article#container(itemscope, itemtype='http://schema.org/Event')
    .row
      .col-sm-9
        header
          h1.entry-title(itemprop='name')=result.post_title
        nav.hidden-xs(role='navigation')
          ul.pulsa.pull-right
            - console.log(result);
            each menu,index in result.menu_exhibition
              li.btn-group
                a.btn.btn-default.btn-lg(href=menu.permalink,class=!index ? "disabled" : "")=menu.post_title

            if result['wpcf-exhibition-url'] && result['wpcf-exhibition-height'] && result['wpcf-exhibition-width']
              li.btn-group
                a.btn.btn-primary.btn-lg(href=result['wpcf-exhibition-url'], onclick="openWindow('"+result.post_title+"','"+result['wpcf-exhibition-url']+"','"+result['wpcf-exhibition-width']+"','"+result['wpcf-exhibition-height']+"');return false;")=global.__("VIEW THE EXHIBITION NOW !!!")

        .rientro
          include ../_common/inc_type_hidden
          include ../_common/inc_eventdateplace
          div(itemprop='description')!=result.post_content
          include ../_common/inc_videos
          include ../_common/inc_websites
          include ../_common/inc_capauthors
      .col-sm-3
        img.img-responsive.wp-post-image(src=result.featured.thumbnail, alt=result.post_title, itemprop='image')
        include ../_common/inc_docs_small
    include ../_common/inc_grid

