ul.footer-nav.corporate
  li
    a(title='Home', href=lang_preurl + '/')=global.__("Home")
  li
    a(title=global.__("Profile"), href=lang_preurl + '/profile/')=global.__("Profile")
  li
    a(title=global.__("Awards and Grants"), href=lang_preurl + '/awards-and-grants/')=global.__("Awards and Grants")
  li
    a(title=global.__("Contacts"), href=lang_preurl + '/contacts/')=global.__("Contacts")