nav
  ul.footer-nav.corporate
    li
      a(title='Home', href=lang_preurl + '/')=global.__("Home")
    li(class=meta_data['url'].indexOf('/profile') >= 0 ? "active" : undefined)
      a(title=global.__("Profile"), href=lang_preurl + '/profile/')=global.__("Profile")
    li(class=meta_data['url'].indexOf('/portfolio/awards-and-grants') >= 0 ? "active" : undefined)
      a(title=global.__("Awards and Grants"), href=lang_preurl + '/portfolio/awards-and-grants/')=global.__("Awards and Grants")
    li(class=meta_data['url'].indexOf('/contacts') >= 0 ? "active" : undefined)
      a(title=global.__("Contacts"), href=lang_preurl + '/contacts/')=global.__("Contacts")