table
  each m in meta
    tr
      td(style="white-space:nowrap;")
        h1=m.title + " [IT]"
    each mm in m.menu["it"]
      tr
        td(style="white-space:nowrap;")
          b=mm.post_title
          br
          small=mm.permalink
  each m in meta
    tr
      td(style="white-space:nowrap;")
        h1=m.title + " [EN]"
    each mm in m.menu["en"]
      tr
        td(style="white-space:nowrap;")
          b=mm.post_title
          br
          small=mm.permalink
