extends layout
block content
  article#container(itemscope='', itemtype='http://schema.org/Event')
    header.row
      .col-xs-9
        h1.entry-title
          span.pull-left(itemprop='name')=result.post_title + ": " + result.post_gallery.titolo + (result.post_gallery.dettMedia && result.post_gallery.dettMedia.titolo ? " | " + result.post_gallery.dettMedia.titolo : "")
          !=" "
          small=result.post_gallery.performers[0].nomearte
      .col-xs-3
        .pull-right
          include ../_common/inc_share_span
    if result.post_gallery.dettMedia
      img.img-responsive(itemprop='image', src='https://flxer.net/' + result.post_gallery.dettMedia.folder+'/' + result.post_gallery.dettMedia.name, alt=result.post_gallery.dettMedia.titolo)
    ul#listItems.row
      each gall, index in result.post_gallery.sorted
        if gall.id
          li.col-xs-12.col-md-4.col-lg-3.col-xl-2.nggthumbnail(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
            meta(itemprop='position', content=index)
            div(itemprop='item', itemscope='', itemtype='http://schema.org/CreativeWork')
              a.thumbnail(title=gall.titolo, style='position:relative;', itemprop='url', href=config.domain+'/gallery/' + result.post_gallery.performers[0].login + '/' + result.post_gallery.permalink + '/' + gall.permalink + '/')
                span.cntGallImgOver
                  - var thumb = gall.preview_file ? 'https://flxer.net/'+gall.preview_file : 'https://flxer.net'+gall.thumb.replace("128x96","400x300")
                  img.cntGallImgImg(itemprop='image', src=thumb, alt=gall.titolo)
                  img.gallType(src='https://flxer.net/_images/over_'+gall.type+'.png', alt=gall.titolo)
                span.cntDida(itemprop='name')=gall.titolo
              script.
                if (typeof glink==='undefined') var glink = [];
                glink.push('https://flxer.net/#{gall.folder}/#{gall.name}');