extends layout
block content
  article#container(itemprop='performer', itemscope='', itemtype='http://schema.org/CreativeWork')
    header
      h1.entry-title.hidden
    .row.performance-dett
      .col-sm-9
        .row
          .col-sm-3
            img.img-responsive(itemprop='image', alt=result.avnode.performance.title+' MAIN IMAGE', src=result.avnode.performance.imageFormats.small)
          .col-sm-9
            h1.entry-title(itemprop='name')=result.avnode.performance.title
            .rientro
              p.type=result.avnode.performance.type.name
              p.stit
                each booking in result.avnode.performance.bookings
                  each schedule in booking.schedule
                    span.schedule
                      span(itemprop='contentLocation')=schedule.venue.room
                      !=" | "
                      !=schedule.boxDate+" > "+schedule.endtimeTime
                      br
                      span.hide(itemprop='datePublished')=schedule.starttime
              div(itemprop='description')!=result.avnode.performance.about
            if result.avnode.performance.galleries && result.avnode.performance.galleries.length
              div(itemprop='exampleOfWork', itemscope='', itemtype='http://schema.org/ItemList')
                h3.grid-title.h1like(itemprop='name')=global.__("Gallery")
                .rientro
                  ul#listItems.row
                    each gallery, index in result.avnode.performance.galleries
                      li.col-xl-2.col-sm-3(style='margin-bottom: 30px;', itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
                        meta(itemprop='position', content=index)
                        div(itemprop='item', itemscope='', itemtype='http://schema.org/CreativeWork')
                          a(itemprop='url', href='/editions/'+page_data.edition+'/gallery/'+gallery.slug+'/', title=gallery.title)
                            img.img-responsive(itemprop='image', src=gallery.imageFormats.small, alt=gallery.title)
                          p
                          .caption(style='padding-right:15px;padding-left:15px;')
                            .caption-body
                              h2.caption-title(itemprop='name')=gallery.title
                              !="Images: "+gallery.stats.img
            if result.avnode.performance.videos && result.avnode.performance.videos.length
              div(itemprop='exampleOfWork', itemscope='', itemtype='http://schema.org/ItemList')
                h3.grid-title.h1like(itemprop='name')=global.__("Videos")
                .rientro
                  ul#listItems.row
                    each video, index in result.avnode.performance.videos
                      li.col-xl-2.col-sm-3(style='margin-bottom: 30px;', itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
                        meta(itemprop='position', content=index)
                        div(itemprop='item', itemscope='', itemtype='http://schema.org/CreativeWork')
                          a(itemprop='url', href='/editions/'+page_data.edition+'/videos/'+video.slug+'/', title=video.title)
                            img.img-responsive(itemprop='image', src=video.imageFormats.small, alt=video.title)
                          p
                          .caption(style='padding-right:15px;padding-left:15px;')
                            .caption-body
                              h2.caption-title(itemprop='name')=video.title
      .col-sm-3
        h2.grid-title.h1like=global.__("Author")
        .rientro
          ul.lists(itemprop='author', itemscope='', itemtype='http://schema.org/ItemList')
            each user, index in result.avnode.performance.users
              li.itemListElement(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
                meta(itemprop='position', content=index+1)
                div(itemprop='item', itemscope='', itemtype='http://schema.org/Person')
                  .media
                    .media-left
                      a.pull-left(itemprop='url', href='/editions/'+page_data.edition+"/artists/"+user.slug, title=user.stagename)
                        img.media-object(itemprop='image', src='https://flxer.net/warehouse/2018/04/90x68/sk-moog-1_1_jpg.jpg', alt=user.stagename)
                    .media-body
                      h2.media-heading(itemprop='name')
                        a(href='/editions/'+page_data.edition+"/artists/"+user.slug, title=user.stagename)=user.stagename
                      p.stit
                        span.stit!=user.addressesFormatted
                        .hide
                          each address in user.addresses
                            span(itemprop='workLocation', itemscope='', itemtype='http://schema.org/Place')
                              span(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
                                b(itemprop='addressCountry')=address.country
                                !=", "
                                span(itemprop='addressLocality')=address.locality
                div(itemprop='description')!=user.about
                if user.web && user.web.length
                  p
                    strong=global.__("LINKS")
                  ul.squared10aa
                    each web in user.web
                      li
                        a(target='_blank', href=web.url)=web.url
                if user.socials && user.socials.length
                  p
                    strong=global.__("Socials")
                  ul.squared10aa
                    each web in user.socials
                      li
                        a(target='_blank', href=web.url)=web.url
