extends layout
block content
  section#container
    #carousel-example-generic.carousel.slide(data-ride='carousel')
      //
        Indicators
        <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
        <li data-target="#carousel-example-generic" data-slide-to="8"></li>
        <li data-target="#carousel-example-generic" data-slide-to="9"></li>
        <li data-target="#carousel-example-generic" data-slide-to="10"></li>
        </ol>
      // Wrapper for slides
      .carousel-inner
        .item.active
          img(src='https://fotonicafestival.com/files/2018/10/F2018-main-img.jpg', alt='fotonica 2018')
        .item
          img(src='/fotonica/images/carusel_img_2017/FOTONICA2017_img-1.jpg', alt='fotonica 2017')
        .item
          img(src='/fotonica/images/carusel_img_2017/FOTONICA2017_img-2.jpg', alt='fotonica 2017')
        .item
          img(src='/fotonica/images/carusel_img_2017/FOTONICA2017_img-3.jpg', alt='fotonica 2017')
        .item
          img(src='/fotonica/images/carusel_img_2017/FOTONICA2017_img-4.jpg', alt='fotonica 2017')
        .item
          img(src='/fotonica/images/carusel_img_2017/FOTONICA2017_img-5.jpg', alt='fotonica 2017')
        .item
          img(src='/fotonica/images/carusel_img_2017/FOTONICA2017_img-6.jpg', alt='fotonica 2017')
        .item
          img(src='/fotonica/images/carusel_img_2017/FOTONICA2017_img-7.jpg', alt='fotonica 2017')
        .item
          img(src='/fotonica/images/carusel_img_2017/FOTONICA2017_img-8.jpg', alt='fotonica 2017')
        .item
          img(src='/fotonica/images/carusel_img_2017/FOTONICA2017_img-9.jpg', alt='fotonica 2017')
      // Controls
      a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    br
    .row
      .col-xl-3.col-lg-4.col-md-4.col-sm-6(itemscope, itemtype='http://schema.org/ItemList')
        h1.entry-title(itemprop="name") News
        each result, position in results.news
          include boxes/box_news
        .text-right.boxItem
          a.btn.btn-primary(href=lang_preurl+"/news/", title=global.__("See all News"))=global.__("See all News")
      .col-xl-6.col-lg-4.col-md-4.col-sm-6(itemscope, itemtype='http://schema.org/ItemList')
        h1.entry-title(itemprop="name")=global.__("Satellite Events")
        .row.isotope.results
          each result, position in results.events
            .col-xl-6.col-lg-12.col-md-12.col-sm-12.isotopeitem
              include boxes/box_event
        .text-right.boxItem
          a.btn.btn-primary(href=lang_preurl+"/events/", title=global.__("See all Events"))=global.__("See all Events")

      .col-xl-3.col-lg-4.col-md-4.col-sm-6(itemscope, itemtype='http://schema.org/ItemList')
        h1.entry-title(itemprop="name")=global.__("Editions")
        each result, position in results.editions
          include boxes/box_edition
        //.text-right.boxItem
          a.btn.btn-primary(href=lang_preurl+"/editions/", title=global.__("See all Editions"))=global.__("See all Editions")
