div(itemscope, itemtype='http://schema.org/Organization')
  a(href=lang_preurl + '/', title=meta_data.meta['name'])
    img.media-object(src=config.domain + meta_data.meta.logo_footer, alt=meta_data.meta['name'], itemprop='logo')
  br
  strong(itemprop='name')=config.project_name
  br
  !=global.__("a project of")+" Flyer communication"
  br
  span(itemprop='location', itemscope, itemtype='http://schema.org/Place')
    span(itemprop='address', itemscope, itemtype='http://schema.org/PostalAddress')
      span(itemprop='streetAddress') Via del Verano 39
      br
      span(itemprop='postalCode') 00185
      !=" "
      span(itemprop='addressLocality')=global.__('Rome')
      !=" "
      span(itemprop='addressCountry')=global.__('Italy')
    br
    span.hide(itemprop='geo', itemscope, itemtype='http://schema.org/GeoCoordinates')
      span(itemprop='latitude') 41.899316
      | ,
      span(itemprop='longitude') 12.520403
    a(itemprop='url', href='https://www.google.com/maps/place/Flyer+Communication+Srl/@41.899316,12.520403,963m/data=!3m2!1e3!4b1!4m2!3m1!1s0x132f618364bd1e11:0x4bbf08536c8fc4c9?hl=en', target='_blank')=global.__('map')
    br
  |    Tel.
  !=" "
  a(href='tel:+390678147301', itemprop='telephone') +39 06 78147301
  br
  |    Fax
  !=" "
  span(itemprop='faxNumber') +39 06 78390805
  br
  !=global.__('VAT N°')
  !=" "
  span(itemprop='vatID') IT06589171005
  br
  a(itemprop='email', title=global.__('Write to') + " " + config.project_name, href='mailto:' + config.project_email)=config.project_email
  br
  a(itemprop='url', title=config.project_name+" Web Site", href=config.domain)=config.domain
