if result.capauthors
  - var publishers = []
  - var publishers_slugs = []
  - var authors = []
  each capauthor in result.capauthors
    - console.log(capauthor)
    if config.posttypes_authors[result.post_type].publisher.roles.indexOf(capauthor.user_role_value)!=-1
      - publishers.push(capauthor)
      - publishers_slugs.push(capauthor.user_login)
  if !publishers.length && result.post_type == "news"
    - publishers.push(config.posttypes_authors.news.publisher.default)
    - publishers_slugs.push(config.posttypes_authors.news.publisher.default.user_login)
  each capauthor in result.capauthors
    if publishers_slugs.indexOf(capauthor.user_login)==-1
      - authors.push(capauthor)
  if !authors.length && result.post_type == "news"
    - authors.push(config.posttypes_authors.news.authors.default)

  if publishers.length
    ul.authors
      li
        i.glyphicon.glyphicon-user
        !=" "+config.posttypes_authors[result.post_type].publisher.label_multi
      each capauthor in publishers
        li(itemprop=config.posttypes_authors[result.post_type].publisher.itemprop, itemscope, itemtype='http://schema.org/Organization')
          - var baseurl = config.sez.users.baseurls[capauthor.user_role_value]
          if baseurl
            a(href='/'+baseurl+'/' + capauthor.user_login+'/', rel='author', title=capauthor.display_name)
              b(itemprop='name')=capauthor.display_name
          else
            b(itemprop='name')=capauthor.display_name
          if result.post_type == "news" && capauthor.img
            .sr-only(itemprop='logo', itemscope, itemtype="http://schema.org/ImageObject")
              img(itemprop='url', src=capauthor.img, alt=global.__("Logo of") + " " + capauthor.display_name)
  if authors.length
    ul.authors(class=authors.length == 1 && config.posttypes_authors[result.post_type].authors.default && authors[0].ID == config.posttypes_authors[result.post_type].authors.default.ID ? "sr-only" : undefined)
      li
        i.glyphicon.glyphicon-user
        !=" "+config.posttypes_authors[result.post_type].authors.label_multi
      each capauthor in authors
        li(itemprop=itemprop=config.posttypes_authors[result.post_type].authors.itemprop, itemscope, itemtype='http://schema.org/Person')
          - var baseurl = config.sez.users.baseurls[capauthor.user_role_value]
          if baseurl
            a(href='/'+baseurl+'/' + capauthor.user_login+'/', rel='author', title=capauthor.display_name)
              b(itemprop='name')=capauthor.display_name
              !=" "
              span(itemprop='jobTitle')=capauthor.user_role
              span.hide
                !=" "
                span.org(itemprop='affiliation')=config.project_name
          else
            b(itemprop='name')=capauthor.display_name
            !=" "
            span(itemprop='jobTitle')=capauthor.user_role
            span.hide
              !=" "
              span.org(itemprop='affiliation')=config.project_name