ul.footer-nav.footer-nav-inline.projects
  li(class=config.domain =="https://flyer.it" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='https://flyer.it/', title='Flyer communication: new media agency')
      i.icon-flyer
      span.sr-only!=' Flyer communication: new media agency'
  li(class=config.domain =="https://avnode.org" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='https://avnode.org/', title='International Network for Audio Visual art')
      i.icon-avnode
      span.sr-only!=' International Network for Audio Visual art'
  li(class=config.domain =="https://flxer.net" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='https://flxer.net/', title='FLxER: Live visuals community and software')
      i.icon-flxer
      span.sr-only!=' FLxER: Live visuals community and software'
  li(class=config.domain =="https://vjtelevision.com" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='https://vjtelevision.com/', title='Vj television: the first 24-hour live video broadcast channel')
      i.icon-vjtelevison
      span.sr-only!=' Vj television: the first 24-hour live video broadcast channel'
  li(class=config.domain =="https://liveperformersmeeting.net" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='https://liveperformersmeeting.net/', title='Live video performers, visual artists and vj meeting')
      i.icon-lpm
      span.sr-only!=' Live video performers, visual artists and vj meeting'
  li(class=config.domain =="https://livecinemafestival.com" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='https://livecinemafestival.com/', title='Festival of Audio-Video performances of live cinema')
      i.icon-lcf-fill
      span.sr-only!=' Festival of Audio-Video performances of live cinema'
  li(class=config.domain =="https://chromosphere.eu" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='https://chromosphere.eu/', title='Festival of Audio-Video performances on full domes')
      i.icon-chromosphere
      span.sr-only!=' Festival of Audio-Video performances on full domes'
  li(class=config.domain =="https://shockart.net" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='https://shockart.net/', title='Shockart: web art project')
      i.icon-shockart
      span.sr-only!=' Shockart: web art project'
  li(class=config.domain =="https://wam.flyer.it" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='https://wam.flyer.it/', title='WAM: Web Art Museum')
      i.icon-wam
      span.sr-only!=' WAM: Web Art Museum'
  li(class=config.domain =="https://linux-club.org" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='https://linux-club.org/', title='Linux Club Italia')
      i.icon-linux
      span.sr-only!=' Linux Club Italia'
  li(class=config.domain =="http://fhf.it" ? "active" : undefined)
    a.tooltips(data-placement='bottom', data-toggle='tooltip', target='_blank', href='http://fhf.it/', title='Free Hardware Foundation')
      i.icon-fhf
      span.sr-only!=' Free Hardware Foundation'