if result['attachments'].length
  h3=global.__("Downloads")
  .docsLarge
    each attach in result['attachments']
      .media
        .media-left
          a(href=attach.file, download=attach.file)
            - var ext = attach.file.substring(attach.file.lastIndexOf(".")+1)
            - console.log(ext)
            i(class=ext=="zip" ? "icon-file-archive" : ext=="pdf" ? "icon-file-pdf" : "icon-doc")
        .media-body
          a(href=attach.file, download=attach.file)
            !=" "+attach.title
          br
          small!="("+attach.file+" - "+attach.size+")"
