if result['wpcf-location']
  i.icon-location
  !=" "
  each val, country in result['wpcf-location']
    each valcity, city in result['wpcf-location'][country]
      each val, venue in result['wpcf-location'][country][city]
        span.place(itemprop='location', itemscope, itemtype='http://schema.org/Place')
          if venue
            span.placeName(itemprop='name')=venue
            !=", "
          span(itemprop='geo', itemscope, itemtype='http://schema.org/GeoCoordinates')
            meta(itemprop='latitude', content=val.lng)
            meta(itemprop='longitude', content=val.lat)
          span.hide(itemprop='address', itemscope, itemtype='http://schema.org/PostalAddress')
            span(itemprop='addressLocality')=city
            !=" "
            span.addressCountry(itemprop='addressCountry')=country
            !=", "
      span.addressLocality=city
        !=", "
    span.addressCountry=country
