if result.capauthors
  - var authorExists,customerExists
  each capauthor in result.capauthors
    if capauthor.user_role == 'Customer'
      - customerExists = true
    if capauthor.user_role != 'Customer'
      - authorExists = true
  if customerExists
    //span.sr-only(itemprop='organizer')
    ul.authors
      li
        i.glyphicon.glyphicon-user
        !=" Customer"
      each capauthor in result.capauthors
        if capauthor.user_role == 'Customer'
          li(itemprop='sourceOrganization', itemscope, itemtype='http://schema.org/Person')
            a(href='/customers/' + capauthor.user_login, rel='author')
              b(itemprop='name')=capauthor.display_name
              !=" "
              span(itemprop='jobTitle')=capauthor.user_role
          li(itemprop='author', itemscope, itemtype='http://schema.org/Person')
            a(href='/customers/' + capauthor.user_login, rel='author')
              b(itemprop='name')=capauthor.display_name
              !=" "
              span(itemprop='jobTitle')=capauthor.user_role
  if authorExists
    ul.authors
      li
        i.glyphicon.glyphicon-user
        !=" People"
      each capauthor in result.capauthors
        if capauthor.user_role != 'Customer'
          li.sr-only(itemprop='publisher', itemscope, itemtype='http://schema.org/Organization')
            a(href='/people/' + capauthor.user_login, rel='author')
              b(itemprop='name')=capauthor.display_name
          li(itemprop='author', itemscope, itemtype='http://schema.org/Person')
            a(href='/people/' + capauthor.user_login, rel='author')
              b(itemprop='name')=capauthor.display_name
              !=" "
              span(itemprop='jobTitle')=capauthor.user_role
              span.hide
                !=" "
                span.org(itemprop='affiliation') Flyer communication
