if result.capauthors
  - //console.log(result.post_type)
  - var authorExists = false
  - var customerExists = false
  each capauthor in result.capauthors
    - //console.log(result.post_type)
    if config.sez.users.posttypes[result.post_type].publisher.roles.indexOf(capauthor.user_role_value)!=-1
      - customerExists = true
    else if capauthor.display_name
      - authorExists = true
    //span.sr-only(itemprop='organizer')
  if customerExists || result.post_type=="news"
    ul.authors
      //li
        i.glyphicon.glyphicon-user
        !=" "+config.sez.users.posttypes[result.post_type].publisher.label_multi+customerExists
      each capauthor, index in result.capauthors
        if (customerExists && config.sez.users.posttypes[result.post_type].publisher.roles.indexOf(capauthor.user_role_value)!=-1) || !customerExists
          - var baseurl = config.sez.users.posttypes[result.post_type].publisher.baseurl
          li(itemprop=itemprop=config.sez.users.posttypes[result.post_type].publisher.itemprop, itemscope, itemtype='http://schema.org/Organization', class=index>0? "sr-only" : undefined)
            a(href='/'+baseurl+'/' + capauthor.user_login+'/', rel='author')
              i.glyphicon.glyphicon-user
              !=" "
              b(itemprop='name')=capauthor.display_name
            if result.post_type=="news"
              .sr-only(itemprop='logo', itemscope, itemtype="http://schema.org/ImageObject")
                img(itemprop='url', src=capauthor.img, alt=global.__("Logo of")+" "+capauthor.display_name)
  ul.authors.sr-only
    //li
      i.glyphicon.glyphicon-user
      !=" "+config.sez.users.posttypes[result.post_type].authors.label_multi+authorExists
    each capauthor in result.capauthors
      if (authorExists && config.sez.users.posttypes[result.post_type].publisher.roles.indexOf(capauthor.user_role_value)==-1) || !authorExists
        li(itemprop=itemprop=config.sez.users.posttypes[result.post_type].authors.itemprop, itemscope, itemtype='http://schema.org/Person')
          - var baseurl = config.sez.users.posttypes[result.post_type].authors.baseurl
          a(href='/'+baseurl+'/' + capauthor.user_login+'/', rel='author')
            i.glyphicon.glyphicon-user
            !=" "
            b(itemprop='name')=capauthor.display_name
            !=" "
            span(itemprop='jobTitle')=capauthor.user_role
            span.hide
              !=" "
              span.org(itemprop='affiliation') Flyer communication