doctype xml
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
  url
    loc=config.domain
    if (config.locales.length>1)
      each locale in config.locales
        if locale == config.default_lang
          xhtml:link(rel="alternate", hreflang=locale, href=config.domain)
        else
          xhtml:link(rel="alternate", hreflang=locale, href=config.domain + "/"+locale+"/")
    lastmod=isodate
    changefreq daily
    priority 1.0