doctype xml
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9', xmlns:image="http://www.google.com/schemas/sitemap-image/1.1", xmlns:xhtml='http://www.w3.org/1999/xhtml')
  each result in results
    url
      loc=config.domain+"/"+ baseurl +"/"+result.user_login+"/"
      if (config.locales.length > 1)
        each locale in config.locales
          if locale == config.default_lang
            xhtml:link(rel="alternate", hreflang=locale, href=config.domain + "/" + baseurl +"/"+result.user_login+"/")
          else
            xhtml:link(rel="alternate", hreflang=locale, href=config.domain + "/" + locale + "/" + baseurl +"/"+result.user_login+"/")

      lastmod=config.sitemap.lastmod
      changefreq monthly
      priority 1.0
      image:image
        image:loc=result.img
        image:title!="<![CDATA["+result.user_login+"]]>"
