doctype xml
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9', xmlns:xhtml='http://www.w3.org/1999/xhtml')
  each page in config.sitemap.pages
    url
      loc=config.domain + "/" + page + "/"
      if (config.locales.length > 1)
        each locale in config.locales
          if locale == config.default_lang
            xhtml(rel="alternate", hreflang=locale, href=config.domain + "/" + page + "/")
          else
            xhtml(rel="alternate", hreflang=locale, href=config.domain + "/" + locale + "/" + page + "/")

      lastmod=config.sitemap.lastmod
      changefreq weekly
      priority 1.0