ul.footer-nav
  li(class=page_data.url.indexOf('/project') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/project/')=global.__("Project")
  li(class=page_data.url.indexOf('/presentation-to-the-city') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/presentation-to-the-city/')=global.__("Presentation to the city")
  li(class=page_data.url.indexOf('/partners') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/partners/') Partners
  li(class=page_data.url.indexOf('/prenatal') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/prenatal/') Prenatal
  li(class=page_data.url.indexOf('/newsletter') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/newsletter/') Newsletter
  li(class=page_data.url.indexOf('/contacts') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/contacts/')=global.__("Contacts")