extends layout
block content
  .container
    article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/Event')
      .row
        .col-sm-8
          img.img-responsive.main-image(src=result.featured.full, alt=result.post_title, itemprop='image')
          .hidden-xs(itemprop='description')!=result.post_content
          include inc_videos
        .col-sm-4
          header
            h1.entry-title(itemprop='name')!=result.post_title
            include inc_tags

          .rientro
            include inc_dateplace
            .visible-xs(itemprop='description')!=result.post_content
            include inc_websites
            include inc_capauthors
            include inc_share

      include inc_grid
