extends layout
block content
  #carousel-example-generic.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#carousel-example-generic', data-slide-to='0')
      li(data-target='#carousel-example-generic', data-slide-to='1')
      li(data-target='#carousel-example-generic', data-slide-to='2')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active
        img(src='/flyer/images/1mappingSA2.jpg', alt='AAAA')
      .item
        img(src='/flyer/images/1mappingSA2.jpg', alt='AAAA')
    // Controls
    a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
  article#container.home(itemscope, itemtype='http://schema.org/Event')
    .text-center.pagepaddingtop
      h1.entry-title=meta_data.meta.description
    section.home-services
      .container-fluid
        .row.sameheightcnt
          .col-xl-2.col-xl-offset-2.col-lg-3.col-md-3.sameheight.boxItem
            !=profile['wpcf-row-1-col-1-html-box']
          .col-xl-2.col-lg-3.col-md-3.sameheight.boxItem
            !=profile['wpcf-row-1-col-2-html-box']
          .col-xl-2.col-lg-3.col-md-3.sameheight.boxItem
            !=profile['wpcf-row-1-col-3-html-box']
          .col-xl-2.col-lg-3.col-md-3.sameheight.boxItem
            !=profile['wpcf-row-1-col-4-html-box']

            
            
            
    section.home-events
      .container-fluid
        header.text-center
          h1.entry-title=global.__("Live Visuals")
          .row
            .col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2
              .col-xs-12!=posttype_events.description
        .row.isotope
          each box, index in data.events
            .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.isotopeitem(class=index>5 ? "hidden-lg visible-xl" : "")
              include boxes/box_event
        .text-center.read-more
          a(href=(config.current_lang == 'it' ? '/it' : '')+'/portfolio/live-visuals/')
            !=global.__("See all Events")
            !=" "
            span.fa.fa-long-arrow-right
            
            
            
    section.home-lab
      .container-fluid
        header.text-center
          h1.entry-title=posttype_lab.labels.name
          .row
            .col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2
              .col-xs-12!=posttype_lab.description
        .row.isotope
          each box, index in data.lab
            .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.isotopeitem(class=index>5 ? "hidden-lg visible-xl" : "")
              include boxes/box_lab
        .text-center.read-more
          a(href=(config.current_lang == 'it' ? '/it' : '')+'/portfolio/lab/')
            !=global.__("See all Lab")
            !=" "
            span.fa.fa-long-arrow-right



    section.home-web
      .container-fluid
        header.text-center
          h1.entry-title=posttype_web.labels.name
          .row
            .col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2
              .col-xs-12!=posttype_web.description
        .row.isotope
          each box, index in data.web
            .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.isotopeitem(class=index>2 ? "hidden-lg visible-xl visible-md" : "")
              include boxes/box_web
        .text-center.read-more
          a(href=(config.current_lang == 'it' ? '/it' : '')+'/portfolio/web-and-mobile/')
            !=global.__("See all Web & Mobile")
            !=" "
            span.fa.fa-long-arrow-right



    .home-learning
      section
        .container-fluid
          .row
            .col-lg-6.col-lg-offset-2.col-md-12.col-sm-12
              h1.entry-title.boxItem=global.__("Learning")
              p!=posttype_learning.description
              each box in data.learning
                  include boxes/box_learning_home
              .read-more
                a(href=(config.current_lang == 'it' ? '/it' : '')+'/portfolio/learning/')
                  !=global.__("See all Learnings")
                  !=" "
                  span.fa.fa-long-arrow-right



    section.home-videos
      .container-fluid
        header.text-center
          h1.entry-title=posttype_video.labels.name
          .row
            .col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2
              .col-xs-12!=posttype_video.description
        .row
          each box in data.videos
            if box.video_thumbnail
              .col-md-3.col-sm-12
                include boxes/box_video_home
        .text-center.read-more
          a(href=(config.current_lang == 'it' ? '/it' : '')+'/portfolio/videos/')
            !=global.__("See all Videos")
            !=" "
            span.fa.fa-long-arrow-right



    section.home-awards
      .container-fluid(itemscope, itemtype='http://schema.org/ItemList')
        header.text-center
          h1.entry-title.boxItem(itemprop="name")=global.__("Awards and Grants")
          .row
            .col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2
              .col-xs-12!=posttype_awards.description
        .row
          each box, index in data.awards
            .col-xl-2.col-lg-3.col-md-3(class=(!index ? "col-xl-offset-2" : ""))
              include boxes/box_award
        .text-center.read-more
          a(href=(config.current_lang == 'it' ? '/it' : '')+'/portfolio/awards-and-grants/')
            !=global.__("See all Awards and Grants")
            !=" "
            span.fa.fa-long-arrow-right

    section.home-news
      .container-fluid
        header.text-center
          h1.entry-title.boxItem=global.__("Extra")
          .row
            .col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2
              .col-xs-12!=posttype_news.description
        .row.isotope
          each box in data.news
            .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.isotopeitem
              include boxes/box_news
        .text-center.read-more
          a(href=(config.current_lang == 'it' ? '/it' : '') + '/extra/')
            !=global.__("See all Extras ")
            !=" "
            span.fa.fa-long-arrow-right



