doctype html
html(lang=config.current_lang)
  - var lang_preurl = (config.current_lang == config.default_lang ? '' :'/'+config.current_lang)
  head
    title=meta_data.meta['title']
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- //console.log(meta_data)
    meta(property='fb:admins', content=meta_data.meta['fb_admin'])
    meta(property='fb:app_id', content=meta_data.meta['fb_appId'])
    meta(property='og:image', content=meta_data.meta['image_src'])
    meta(property='og:title', content=meta_data.meta['title'])
    meta(property='og:description', content=meta_data.meta['og_description'])
    meta(property='og:site_name', content=meta_data.meta['name'])
    meta(property='og:url', content=config.domain+meta_data['url'])
    link(rel='canonical', href=config.domain+meta_data['url'])
    meta(property='og:type', content='website')
    meta(name='description', content=meta_data.meta['og_description'])
    meta(name='keywords', content=meta_data.meta['og_keywords'])
    meta(name='google-site-verification', content=meta_data.meta['google_webmasterstools'])
    link(rel='shortcut icon', href=meta_data.meta['favicon'])
    link(rel='apple-touch-icon', sizes='57x57', href=meta_data.meta['icon57'])
    link(rel='apple-touch-icon', sizes='72x72', href=meta_data.meta['icon72'])
    link(rel='apple-touch-icon', sizes='114x114', href=meta_data.meta['icon114'])
    link(rel='apple-touch-icon', sizes='120x120', href=meta_data.meta['icon120'])
    link(rel='apple-touch-icon', sizes='144x144', href=meta_data.meta['icon144'])
    link(rel='apple-touch-icon', sizes='152x152', href=meta_data.meta['icon152'])
    // CSS
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700")
    link(rel='stylesheet', href='/' + config.prefix + '/css/combo.min.css', type='text/css', media='all')
    //link(rel='stylesheet', href='/_common/css/flyer/', type='text/css', media='all')
      link(rel='stylesheet', href='/_common/css/fontello.css', type='text/css', media='all')
      link(rel='stylesheet', href='/_common/css/fontello-animation.css', type='text/css', media='all')
    if include_gallery
      link(rel='stylesheet', href='/_common/css/socialGalleryPluginLite.css', type='text/css', media='all')
    //link(rel='stylesheet', href='/_common/css/cookielawinfo.css', type='text/css', media='all')
      link(rel='stylesheet', href='/'+config.prefix+'/css/bootstrap.min.css', type='text/css')
      link(rel='stylesheet', href='/_common/css/bootstrapXL.css', type='text/css', media='all')
      link(rel='stylesheet', href='/_common/css/style.css', type='text/css', media='all')
      link(rel='stylesheet', href='/' + config.prefix + '/css/style.' + config.prefix + '.css', type='text/css', media='all')

  body(class=meta_data['url'] == '/' || meta_data['url'] == '/it/' || meta_data['url'] == '/it' ? "flyer-header-expanding expanding" : undefined)
    include includes/menu
    .cnt(itemscope, itemtype='http://schema.org/Organization')
      #result
        block content
      include includes/footer
    include ../_common/modal-full
    script(type='text/javascript', src='/_common/js/combo.min.js')
    if form
      script(type='text/javascript', src='/_common/js/validator.min.js')
    //script(type='text/javascript', src='/_common/js/jquery.min.js')
      script(type='text/javascript', src='/_common/js/bootstrap.min.js')
      script(type='text/javascript', src='/_common/js/jquery.isotope.min.js')
      script(type='text/javascript', src='/_common/js/imagesloaded.pkgd.min.js')
      script(type='text/javascript', src='/_common/js/cookielawinfo.min.js')
    include ../_common/inc_cookielawinfo

    if include_gallery
      #fb-root
      script.
        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=#{meta_data.meta.fb_appId}";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      script(type="text/javascript").
        var sgp_config = {
          "sgp_selT": "2",
          "sgp_sel": ".thumbnail",
          "sgp_bT": "#{meta_data.meta.name}",
          "sgp_bL": "#{meta_data.meta.description}",
          "sgp_bU": "#{global.config.domain}",
          "sgp_bg": "000000",
          "sgp_bgo": "0.8",
          "sgp_bb": "1",
          "sgp_hb": "1",
          "sgp_hbt": "1",
          "sgp_ch": "",
          "sgp_hbi": '/#{config.prefix}/images/social-gallery-icon-50x50.png',
          "sgp_desc": "1",
          "sgp_fb": "1",
          "sgp_fbf": "1",
          "sgp_fbc": "1",
          "sgp_nav": "1",
          "sgp_hon": "",
          "sgp_usf": "1.2",
          "sgp_mb": "10",
          "sgp_theme": "images",
          "sgp_theme_root": "/_common/",
          "sgp_iLoadR": 'social-gallery-loading.gif',
          "sgp_iR": 'social-gallery-r.png',
          "sgp_iL": 'social-gallery-l.png'
        };
        var sgp_ie = false;
        var sgp_ie7 = false;
      //[if IE]
      // <script type = "text/javascript" >var sgp_ie = true;</script><![endif]-->
      // <!--[if lte IE 7]><script type="text/javascript">var sgp_ie7 = true;</script><![endif]-->

      script(type='text/javascript', src='/_common/js/jquery-migrate.min.js')
      script(type='text/javascript', src='/_common/js/socialGalleryPluginLite.min.js')

    //script(type='text/javascript', src='/_common/js/script.min.js')
    script(type='text/javascript', src='/' + config.prefix + '/js/script.min.js')
    include ../_common/inc_analytics