extends layout
block content
  .container
    article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/EducationEvent')
      meta(itemprop='url', content=config.domain+page_data.url)
      .row
        .col-sm-9
          header
            h1.entry-title(itemprop='name')=result.post_title
          .rientro
            include ../_common/inc_type_hidden
            div(itemprop='description')!=result.post_content
            .excerpt
              if result["wpcf-schedule"]
                include ../_common/inc_eventdateplace
              if result["wpcf-schedule"]
                .dates
                  .date
                    !=global.__("Programming")
                    !=": "
                    b=result["wpcf-schedule"]
              !=global.__("Duration") + ": "
              span(itemprop='duration')
                b=result["wpcf-duration"]
              br
              - var auth = []
              each capauthor in result.capauthors
                if (config.users_by_id[capauthor.ID] && config.users_by_id[capauthor.ID][config.prefix + "-sez"])
                  - auth.push("<span itemprop='performer' itemscope itemtype='http://schema.org/Person'><span itemprop='name'>"+capauthor.display_name+"</span></span>")
              if auth.length
                if auth.length == 1
                  !=global.__("Teacher") + ": "
                else
                  !=global.__("Teachers") + ": "
                b!=auth.join(", ")
              br
              !=global.__("Price") + ": "
              span(itemprop='offers', itemscope, itemtype="http://schema.org/Offer")
                b
                  span(itemprop='price', content=parseInt(result["wpcf-price"]))=result["wpcf-price"]
                  !=" "
                  span(itemprop='priceCurrency', content="EURO")="€"
                a.hide(itemprop='url', title=global.__("URL"), href=lang_preurl + '/portfolio/learning/' + result.slug + "/")
            include ../_common/inc_websites
            include ../_common/inc_share
        .col-sm-3
          img.img-responsive.main-image(src=result.featured.thumbnail, alt=result.post_title, itemprop='image')

      if result['wpcf-add-grid-boxes'] && result['wpcf-rows'] && result['wpcf-columns']
        include ../_common/inc_grid
