extends layout
block content
  .container-fluid
    article#container(itemscope='', itemtype='http://schema.org/CreativeWork')
      .row
        .col-sm-9
          header
            h1.entry-title(itemprop='name')=data.post_title
          .rientro
            div(itemprop='description')!=data.post_content
            .row
              .col-md-6
                !=global.__("Duration") + ": "
                span(itemprop='duration')
                  b=data["wpcf-duration"]
                br
                - var auth = []
                each capauthor in data.capauthors
                  - auth.push(capauthor.display_name)
                if auth.length
                  if auth.length == 1
                    !=global.__("Teacher") + ": "
                  else
                    !=global.__("Teachers") + ": "
                  span(itemprop='performer')
                  b=auth.join(", ")
                br
                !=global.__("Price") + ": "
                span(itemprop='offers')
                  b=data["wpcf-price"] + " €"
              .col-md-6
                if data.web_site.length
                  - websites = data.web_site
                  include inc_websites

            br
            include inc_share
        .col-sm-3
          img.img-responsive.main-image(src=data.featured.thumbnail, alt=data.post_title, itemprop='image')

      if data['wpcf-add-grid-boxes'] && data['wpcf-rows'] && data['wpcf-columns']
        include inc_grid
