extends layout
block content
  .container
    article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/Article')
      .row
        .col-sm-9
          header
            h1.entry-title(itemprop='name')=result.post_title
          .rientro
            include ../common/inc_tags
            if result.data_month
              .text-muted
                .dates
                  .date=result.data_month
                  meta(itemprop="datePublished", content=result.datePublished)
            div(itemprop='description')!=result.post_content
            .row
              .col-md-6
                include ../common/inc_capauthors
              .col-md-6
                include ../common/inc_websites
            include ../common/inc_share
        .col-sm-3
          img.img-responsive.main-image(src=result.featured.thumbnail, alt=result.post_title, itemprop='image')

      include ../common/inc_grid
