extends layout
block content
	.container-fluid
		article(itemscope, itemtype='http://schema.org/'+itemtype)
			.row
				.col-sm-9
					header
						h1.entry-title(itemprop='name')!=data.post_title
					.rientro
						div(itemprop='description')!=data.post_content
						.text-muted
							.dates
								.date=data.data_evento
								meta(itemprop="dateModified", content=data.datePublished)
						br
						include inc_share
				.col-sm-3
					img.img-responsive.main-image(src=data.featured.thumbnail, alt!=data.post_title, itemprop='image')
			if data['wpcf-add-grid-boxes'] && data['wpcf-rows'] && data['wpcf-columns']
				include inc_grid
