doctype xml
sitemapindex(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
  sitemap
    loc=config.domain+"/sitemap-home.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-pages.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-posttype-news.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-posttype-web-and-mobile.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-posttype-learning.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-posttype-lab.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-posttype-events.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-posttype-awards-and-grants.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-posttype-videos.xml"
    lastmod=isodate
  sitemap
    loc=config.domain+"/sitemap-taxonomy-events.xml"
    lastmod=isodate
  sitemap
    loc=config.domain + "/sitemap-taxonomy-web-and-mobile.xml"
    lastmod=isodate
  sitemap
    loc=config.domain + "/sitemap-users-customers.xml"
    lastmod=isodate
  sitemap
    loc=config.domain + "/sitemap-users-people.xml"
    lastmod=isodate