extends layout
block content
  .container
    article.pagepaddingtop#container(itemprop=itemprop, itemscope, itemtype='http://schema.org/Person')
      .row
        .col-sm-9
          header
            h1.entry-title(itemprop='name')=data.data.display_name
          .rientro
            p(itemprop='jobTitle')
              i=data.data.role
              p
                each auth_content in data.data.auth_contents
                  if auth_content.posts.length
                    !=auth_content["labels"]["name"] + ": " + auth_content.posts.length
                    br
            hr
            div(itemprop='description')!=data.data.description
            include inc_share
        .col-sm-3
          img.img-responsive.main-image(src=data.data.img, alt=data.data.display_name, itemprop='image')
    each auth_content in data.data.auth_contents
      if auth_content.posts.length
        section(itemscope, itemtype="https://schema.org/ItemList")
          h3.entry-title(itemprop="name")=auth_content.labels.name
          .row.isotope
            each box in auth_content.posts
              if box.post_type == 'events'
                .col-lg-3.col-md-12.col-sm-12.isotopeitem
                  include boxes/box_event
              if box.post_type == 'videos'
                .col-lg-3.col-md-12.col-sm-12.isotopeitem
                  include boxes/box_video
              if box.post_type == 'web-and-mobile'
                .col-lg-3.col-md-12.col-sm-12.isotopeitem
                  include boxes/box_web
              if box.post_type == 'lab'
                .col-lg-3.col-md-12.col-sm-12.isotopeitem
                  include boxes/box_lab
              if box.post_type == 'learning'
                .col-lg-3.col-md-12.col-sm-12.isotopeitem
                  include boxes/box_learning
              if box.post_type == 'awards-and-grants'
                .col-lg-3.col-md-12.col-sm-12.isotopeitem
                  include boxes/box_award




          //

        //
