extends layout
block content
  .container
    article.pagepaddingtop#container(itemprop=itemprop, itemscope, itemtype='http://schema.org/Person')
      .row
        .col-sm-9
          img.img-responsive.main-image(src=result.data.img, alt=result.data.display_name, itemprop='image')

          div(itemprop='description')!=result.data.description
        .col-sm-3
          header
            h1.entry-title(itemprop='name')=result.data.display_name
          .rientro
            p(itemprop='jobTitle')
              i=result.data.role
              p
                each auth_content in result.data.auth_contents
                  if auth_content.posts.length
                    !=(auth_content["labels"]["name"] == "Events" ? "Live Visuals" : auth_content["labels"]["name"]) + ": " + auth_content.posts.length
                    br
            include ../_common/inc_share
      each auth_content in result.data.auth_contents
        if auth_content.posts.length
          section(itemscope, itemtype="https://schema.org/ItemList")
            h3(itemprop="name")=auth_content.labels.name == "Events" ? "Live Visuals" : auth_content["labels"]["name"]
            .row.isotope.results
              each result, position in auth_content.posts
                if result.post_type == 'events'
                  .col-xl-3.col-lg-4.col-md-12.col-sm-12.isotopeitem
                    include boxes/box_event
                if result.post_type == 'videos'
                  .col-xl-3.col-lg-4.col-md-12.col-sm-12.isotopeitem
                    include boxes/box_video
                if result.post_type == 'web-and-mobile'
                  .col-xl-3.col-lg-4.col-md-12.col-sm-12.isotopeitem
                    include boxes/box_web
                if result.post_type == 'lab'
                  .col-xl-3.col-lg-4.col-md-12.col-sm-12.isotopeitem
                    include boxes/box_lab
                if result.post_type == 'learning'
                  .col-xl-3.col-lg-4.col-md-12.col-sm-12.isotopeitem
                    include boxes/box_learning
                if result.post_type == 'awards-and-grants'
                  .col-xl-3.col-lg-4.col-md-12.col-sm-12.isotopeitem
                    include boxes/box_award




          //

        //
