extends layout
block content
  .container
    article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/CreativeWork')
      .row
        .col-sm-8
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src=result.video_thumbnail ,webkitAllowFullScreen="webkitAllowFullScreen", mozallowfullscreen="mozallowfullscreen", allowFullScreen="allowFullScreen")
          br
          .hidden-xs(itemprop='description')!=result.post_content
        .col-sm-4
          header
            h1.entry-title(itemprop='name')!=result.post_title
            include inc_tags

          .rientro
            if result.data_month
              .text-muted
                .dates
                  .date=result.data_month
                  meta(itemprop="datePublished", content=result.datePublished)
            .visible-xs(itemprop='description')!=result.post_content
            include inc_websites
            include inc_capauthors
            include inc_share

      include inc_grid