ul.footer-nav
  li(class=page_data.url.indexOf('/linux-club-italia') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/linux-club-italia/') Linux Club Italia
  li(class=page_data.url.indexOf('/contatti') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/contacts/')=global.__("Contatti")
  li(class=page_data.url.indexOf('/newsletter') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/newsletter/')=global.__("Newsletter")
  li(class=page_data.url.indexOf('/diventa-membro') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/join/')=global.__("Diventa membro")
