.boxItem(itemscope, itemtype='http://schema.org/itemListElement')
  .News(itemscope, itemtype='http://schema.org/Event')
    .thumb-cnt
      //.catlabel=result.type
      a.ajaxloader(itemprop='url', href='/extra/'+result.slug+"/", rel='bookmark', title!=result.post_title)
        img.img-responsive(src=result.featured.thumbnail, alt!=global.__('Image for')+': '+result.post_title, itemprop='image', itemscope, itemtype='https://schema.org/ImageObject')
    .box-list
      .box-list-cnt
        .text-muted
          .dates
            - dateplace = box
            include ../inc_date
        h3.list_title(itemprop='name')
          a.ajaxloader(itemprop='url', href='/extra/'+result.slug+"/", rel='bookmark', title=result.post_title)!=result.post_title
        .places
          if result['wpcf-location']
            - dateplace = box
            include ../inc_place
        .text-muted.small.excerpt
          if result.excerpt && result.excerpt.rendered
            div(itemprop='headline')
              p!=result.excerpt.rendered
          if result.tags
            p.tags
              each tag in result.tags
                span.label.label-primary=tag.name
                !=" "
          //if result['wpcf-location'] && result['wpcf-location'].length
            each location in result['wpcf-location']
              - locationA = location.split(";")
              .place(itemprop='location', itemscope, itemtype='http://schema.org/Place')
                span.placeName(itemprop='name')=locationA[0]
                !=", "
                span(itemprop='address', itemscope, itemtype='http://schema.org/PostalAddress')
                  span.addressLocality(itemprop='addressLocality')=locationA[1]
                  !=" | "
                  span.addressCountry(itemprop='addressCountry')=locationA[2]
                span(itemprop='geo', itemscope, itemtype='http://schema.org/GeoCoordinates')
                  meta(itemprop='latitude', content=locationA[3])
                  meta(itemprop='longitude', content=locationA[4])
        .text-muted.small.excerpt
          if result.excerpt && result.excerpt.rendered
            div(itemprop='description')
              p!=result.excerpt.rendered
          span.sr-only(itemprop='organizer')
