.boxItem(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
  meta(itemprop="position", content=position+1)
  .Event(itemprop="item", itemscope, itemtype='http://schema.org/Event')
    .thumb-cnt(itemprop='image', itemscope, itemtype="http://schema.org/ImageObject")
      .thumb-cnt-cnt
        a.ajaxloader(href=lang_preurl+'/portfolio/live-visuals/'+result.slug+"/", rel='bookmark', title!=result.post_title)
          img.img-responsive(src=result.featured.thumbnail, alt!=global.__('Image for')+': '+result.post_title, itemprop='url')
          meta(itemprop="width" content="480")
          meta(itemprop="height" content="270")
    .box-list
      .text-center
        .text-muted.supText
          include ../../_common/inc_eventdateplace
        h3.list_title(itemprop='name')!=result.post_title.replace(" | ","<br />")
        .text-muted.small.tags
          include ../../_common/inc_tags_post_nolink
      .read-more-box
        a.ajaxloader(href=lang_preurl+'/portfolio/live-visuals/'+result.slug+"/", rel='bookmark', title!=result.post_title, itemprop='url')
          .sr-only=__("Read more")
          i.icon-right