.boxItem(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
  meta(itemprop="position", content=position+1)
  div(itemprop="item", itemscope, itemtype='http://schema.org/Organization')
    .row
      .col-sm-4(itemprop="image", itemscope, itemtype='https://schema.org/ImageObject')
        a(title='Logo: '+result.display_name, href=lang_preurl+'/'+config.users_by_id[result.ID][config.prefix+"-sez"]+'/'+result.user_login+'/', rel='bookmark', title='Logo: '+result.display_name)
          img.img-responsive.svg-image(alt='Logo: '+result.display_name, itemprop="url", src=result.img)
          meta(itemprop="width" content="480")
          meta(itemprop="height" content="270")
      .col-sm-8
        h5.media-heading
          a(itemprop='url', title='Logo: '+result.display_name, href=lang_preurl+'/'+config.users_by_id[result.ID][config.prefix+"-sez"]+'/'+result.user_login+'/')
            span(itemprop='name')=result.display_name
        p
          i=result.role_label
        if result.auth_contents
          p
            each auth_content,key in result.auth_contents
              if auth_content
                !=config.posttypes_labels[key]+": "+auth_content
                br
    hr
