.boxItem(itemscope, itemtype='http://schema.org/itemListElement')
  .Web(itemscope, itemtype='http://schema.org/CreativeWork')
    .thumb-cnt
      //.catlabel=box.type
      a.ajaxloader(itemprop='image', itemscope, itemtype='https://schema.org/ImageObject', href='/portfolio/web-and-mobile/'+box.slug+"/", rel='bookmark', title!=box.post_title)
        img.img-responsive(src=box.featured.thumbnail, alt!=global.__('Image for')+': '+box.post_title, itemprop='url')
    .box-list
      if box.data_month
        .text-muted
          .dates
              .date=box.data_month
      h3.list_title(itemprop='name')
        a.ajaxloader(itemprop='url', href='/portfolio/web-and-mobile/'+box.slug+"/", rel='bookmark', title=box.post_title)!=box.post_title

      if box.excerpt && box.excerpt.rendered
        .excerpt.text-muted(itemprop='headline')!=box.excerpt.rendered
      if box.tags
        .tags.text-muted.small
            each tag in box.tags
              !="#"+tag.name+" "
      if box.capauthors
        - var showdiv = false
        each capauthor in box.capauthors
          if capauthor.user_role == 'customer'
            - showdiv = true
        if showdiv == true
          .small
            each capauthor in box.capauthors
              if capauthor.user_role == 'customer'
                span(itemprop='sourceOrganization', itemscope, itemtype='http://schema.org/Person')
                  a(href='/customers/' + capauthor.user_login, rel='author', itemprop='author')
                    i.glyphicon.glyphicon-user
                    !=" "
                    span(itemprop='name')=capauthor.display_name
                    !=" - "
                    span(itemprop='jobTitle')=capauthor.user_role
