.boxItem(itemscope, itemtype='http://schema.org/itemListElement')
  .Learning(itemscope, itemtype='http://schema.org/CreativeWork')
    if result["wpcf-schedule"]
      .text-muted
        .dates
          .date
            !=global.__("Programming")
            !=": "
            b=result["wpcf-schedule"]
    h3.list_title(itemprop='name')
      a.ajaxloader(itemprop='url', href=lang_preurl+'/portfolio/learning/' + result.slug+"/", rel='bookmark', title=result.post_title)
        !=result.post_title+" "
        i.icon-right
    .text-muted.small.excerpt
      !=global.__("Duration")+": "
      span(itemprop='duration')
        b=result["wpcf-duration"]
      br
      - var auth = []
      each capauthor in result.capauthors
        - auth.push(capauthor.display_name)
      if auth.length
        if auth.length == 1
          !=global.__("Teacher") + ": "
        else
          !=global.__("Teachers") + ": "
        span(itemprop='performer')
        b=auth.join(", ")
      br
      !=global.__("Price")+": "
      span(itemprop='offers')
        b=result["wpcf-price"] + " €"
