ul.footer-nav
  li(class=meta_data.url.indexOf('/project') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/project/')=global.__("Project")
  li(class=meta_data.url.indexOf('/exhibitions') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/exhibitions/')=global.__("Exhibitions")
  li(class=meta_data.url.indexOf('/backstage') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/backstage/')=global.__("Backstage")
  li(class=meta_data.url.indexOf('/newsletter') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/newsletter/')=global.__("Newsletter")
  li(class=meta_data.url.indexOf('/contacts') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/contacts/')=global.__("Contacts")