extends layout
block content
  article#container(itemscope, itemtype='http://schema.org/Event')
    .row
      .col-xl-3.col-md-4
        h1.entry-title.boxItem News
        each result, position in results.news
          include boxes/box_news
        .text-right.boxItem
          a.btn.btn-primary(href="/news/")=global.__("See all News")
      .col-xl-6.col-md-4
        h1.entry-title.boxItem=global.__("Satellite Events")
        .row.isotope.results
          each result, position in results.events
            .col-xl-6.col-xs-12.isotopeitem(class=position+1>=config.sez.home.events.limit/2 ? "visible-xl hidden-lg" : undefined)
              include boxes/box_event
        .text-right.boxItem
          a.btn.btn-primary(href="/events/")=global.__("See all Events")
      .col-xl-3.col-md-4
        h1.entry-title.boxItem Prenatal
        each result, position in results.exhibitions
          include boxes/box_exhibition
        .text-right.boxItem
          a.btn.btn-primary(href="/exhibitions/")=global.__("See all Exhibitions")
