nav#top-menu.navbar.navbar-inverse
  // Brand and toggle get grouped for better mobile display
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#menu-MainMenu')
      span.sr-only Toggle navigation
      i.icon-bar
      i.icon-bar
      i.icon-bar
    a.navbar-brand(href='/', title=config.project_name)
      i.icon-lpm
      .sr-only=config.project_name
      //img.img-responsive(src=config.meta.logo_bar, alt=config.project_name)
  // Collect the nav links, forms, and other content for toggling
  #menu-MainMenu.collapse.navbar-collapse
    ul.nav.navbar-nav
      li(class=page_data.url.indexOf('/idea') >= 0 ? "active" : undefined)
        a(href='/idea/') Idea
      li(class=page_data.url.indexOf('/timeline') >= 0 ? "active" : undefined)
        a(href='/timeline/') Timeline
      li(class=page_data.url.indexOf('/map') >= 0 ? "active" : undefined)
        a(href='/map/') Map
      li(class=page_data.url.indexOf('/gallery') >= 0 ? "active" : undefined)
        a(href='/gallery/') Gallery
      li(class=page_data.url.indexOf('/editions') >= 0 ? "active" : undefined)
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Editions 
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='/editions/2017-amsterdam/') 2017 Amsterdam
          li
            a(href='/editions/2016-amsterdam/') 2016 Amsterdam
          li
            a(href='/editions/2015-rome/') 2015 Rome
          li
            a(href='/editions/2014-eindhoven/') 2014 Eindhoven
          li
            a(href='/editions/2013-cape-town/') 2013 Cape Town
          li
            a(href='/editions/2013-rome/') 2013 Rome
          li
            a(href='/editions/2013-mex/') 2013 Mexico
          li
            a(href='/editions/2012-rome/') 2012 Rome
          li
            a(href='/editions/2011-minsk/') 2011 Minsk
          li
            a(href='/editions/2011-rome/') 2011 Rome
          li
            a(href='/editions/2010-rome/') 2010 Rome
          li
            a(href='/editions/2009-rome/') 2009 Rome
          li
            a(href='/editions/2008-mex/') 2008 Mexico
          li
            a(href='/editions/2008-rome/') 2008 Rome
          li
            a(href='/editions/2007-rome/') 2007 Rome
          li
            a(href='/editions/2006-rome/') 2006 Rome
          li
            a(href='/editions/2005-rome/') 2005 Rome
          li
            a(href='/editions/2004-rome/') 2004 Rome
      li(class=page_data.url.indexOf('/the-app') >= 0 ? "active" : undefined)
        a(href='/the-app/') The App
      li(class=page_data.url.indexOf('/press') >= 0 ? "active" : undefined)
        a(href='/press/') Press
      li(class=page_data.url.indexOf('/contacts') >= 0 ? "active" : undefined)
        a(href='/contacts/') Contacts
      li(class=page_data.url.indexOf('/avnode-lpm-2015-2018') >= 0 ? "active" : undefined)
        a(href='/avnode-lpm-2015-2018/') AVnode | LPM 2015 > 2018
      li(class=page_data.url.indexOf('/search') >= 0 ? "active" : undefined)
        a#searchModalButton(href="/search/")
          i.glyphicon.glyphicon-search
          .sr-only=global.__("Search")



    form#subscribe.navbar-form.navbar-right(method='post', action='/signup')
      .pull-right
        .input-group.input-group-sm
          input#email.form-control(autocomplete='off', type='text', name='email', placeholder='your email')
          label.sr-only(for='email') Email
          span.input-group-btn
            button.btn.btn-default(type='submit', name='email-button') KEEP ME INFORMED
        .loading.hide
          i.icon-spin3.animate-spin
          span.sr-only=" Loading..."
        .alert.hide
          button(type="button",class="close",onclick="jQuery('#subscribe').show();jQuery('#subscribe_res').hide();")!="×"
          span.msg

