div(itemprop="organizer", itemscope, itemtype='http://schema.org/Organization')
  a(href=lang_preurl + '/', title=config.project_name)
    img.media-object(src="/avnode/images/LogoAVnode-bar.svg", alt=config.project_name, itemprop='logo')
  //br
  strong.sr-only(itemprop='name')=config.project_name
  //br
  !=global.__("a project of")+" Stichting AVnode"
  br
  span(itemprop='location', itemscope, itemtype='http://schema.org/Place')
    span(itemprop='address', itemscope, itemtype='http://schema.org/PostalAddress')
      span(itemprop='streetAddress') Arondeusstraat 7
      !=" "
      span(itemprop='postalCode') 1063GB
      br
      !=" "
      span(itemprop='addressLocality') Amsterdam
      !=" "
      span(itemprop='addressCountry') Netherlands
    !=" "
    span.hide(itemprop='geo', itemscope, itemtype='http://schema.org/GeoCoordinates')
      span(itemprop='latitude') 52.3823559
      | ,
      span(itemprop='longitude') 4.8237471
    a(itemprop='url', title=global.__('map'), href='https://www.google.it/maps/place/Arondeusstraat+7,+1063+GB+Amsterdam,+Netherlands/@52.3823559,4.8237471,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5e251a2807e6b:0xf143ebca2731e3fb!8m2!3d52.3823559!4d4.8259358!10m1!1e1', target='_blank')=global.__('map')
    br
  //|    Tel.
    !=" "
    a(href='tel:+390678147301', itemprop='telephone', title=global.__('Phone number')) +39 06 78147301
    br
    |    Fax
    !=" "
    span(itemprop='faxNumber') +39 06 78390805
    br
  !=global.__('VAT N°')
  !=" "
  span(itemprop='vatID') NL856555253B01
  br
  a(itemprop='email', title=global.__('Write to') + " " + config.project_name, href='mailto:' + config.project_email)=config.project_email
  br.sr-only
  a.sr-only(itemprop='url', title=config.project_name+" Web Site", href=config.domain)=config.domain
