nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      // .navbar-toggle is used as the toggle for collapsed navbar content
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-navbar')
        span.sr-only Toggle navigation
        i.icon-bar
        i.icon-bar
        i.icon-bar
      // Be sure to leave the brand out there if you want it shown
      a.navbar-brand(href='/', title=meta_data.meta.name)
        img.img-responsive(src="/avnode/images/LogoAVnode-bar.svg", alt=meta_data.meta.name)
    // Place everything within .navbar-collapse to hide it until above 768px
    #main-navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=meta_data['url'] == "/" ? "active" : undefined)
          a(href=lang_preurl+'/', title=global.__("Home"))=global.__("Home")
        li(class=meta_data['url'].indexOf('/manifesto') >= 0 ? "active" : undefined)
          a(href=lang_preurl+'/manifesto/', title=global.__("Manifesto"))=global.__("Manifesto")
        li(class=meta_data['url'].indexOf('/members/') >= 0 ? "active" : undefined)
          a(href=lang_preurl + '/members/', title=global.__("Members"))=global.__("Members")
        li(class=meta_data['url'].indexOf('/activities') >= 0 ? "active" : undefined)
          a(href=lang_preurl+'/activities/', title=global.__("Activities"))=global.__("Activities")
        li(class=meta_data['url'].indexOf('/events') >= 0 ? "active" : undefined)
          a(href=lang_preurl + '/events/', title=global.__("Events"))=global.__("Events")
        li(class=meta_data['url'].indexOf('/news') >= 0 ? "active" : undefined)
          a(href=lang_preurl + '/news/', title=global.__("News"))=global.__("News")

      ul.nav.navbar-nav.navbar-right
        li(class=meta_data['url'].indexOf('/join') >= 0 ? "active" : undefined)
          a(href=lang_preurl + '/join/', title=global.__("Join"))=global.__("Join")
        li(class=meta_data['url'].indexOf('/newsletter') >= 0 ? "active" : undefined)
          a(href=lang_preurl + '/newsletter/', title=global.__("Newsletter"))=global.__("Newsletter")
        li(class=meta_data['url'].indexOf('/contact') >= 0 ? "active" : undefined)
          a(href=lang_preurl + '/contact/', title=global.__("Contact"))=global.__("Contact")
        li(class=meta_data['url'].indexOf('/login') >= 0 ? "active" : undefined)
          a(href='https://tools.avnode.net/', title=global.__("Login"))=global.__("Login")
        li.menu-spacer-after.hidden-xs
          a#searchModalButton(href="/search/", title=global.__("Search"))
            i.glyphicon.glyphicon-search
            .sr-only=global.__("Search")