#myAffix.affix-top(data-spy='affix', data-offset-top='90')
  nav.navbar.navbar-inverse(role='navigation')
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        // .navbar-toggle is used as the toggle for collapsed navbar content
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-navbar')
          span.sr-only Toggle navigation
          i.icon-bar
          i.icon-bar
          i.icon-bar
        // Be sure to leave the brand out there if you want it shown
        a.navbar-brand.visible-xs(href='/', title=meta_data.meta.name)
          img.img-responsive(src=config.domain + meta_data.meta.logo_bar, alt=meta_data.meta.name)
      // Place everything within .navbar-collapse to hide it until above 768px
      #main-navbar.collapse.navbar-collapse
        ul#menu-main-menu.nav.navbar-nav
          li
            a(href=lang_preurl+'/')=global.__("Home")
          li
            a(href=lang_preurl+'/manifesto/')=global.__("Manifesto")
          li
            a(href=lang_preurl + '/members/')=global.__("Members")
          li
            a(href=lang_preurl+'/activities/')=global.__("Activities")
          li
            a(href=lang_preurl + '/events/')=global.__("Events")
          li
            a(href=lang_preurl + '/news/')=global.__("News")

        ul.nav.navbar-nav.navbar-right
          li
            a(href=lang_preurl + '/join/')=global.__("Join")
          li
            a(href=lang_preurl + '/newsletter/')=global.__("Newsletter")
          li
            a(href=lang_preurl + '/contacts/')=global.__("Contacts")
          li
            a(href=lang_preurl + '/login/')=global.__("Login")
          li.menu-spacer-after.hidden-xs
            a#cntSearchButton(href="/search/")
              i.glyphicon.glyphicon-search
              .sr-only=global.__("Search")