.boxItem(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
  meta(itemprop="position", content=position+1)
  .Activity(itemprop="item", itemscope, itemtype='http://schema.org/CreativeWork')
    .thumb-cnt(itemprop='image', itemscope, itemtype="http://schema.org/ImageObject")
      a(href=lang_preurl+'/activities/'+result.slug+"/", rel='bookmark', title!=result.post_title)
        img.img-responsive(src=result.featured.thumbnail, alt!='Image for: '+result.post_title, itemprop='url')
        meta(itemprop="width" content="480")
        meta(itemprop="height" content="270")
    .box-list
      .box-list-cnt
        .text-muted.sr-only
          include ../../_common/inc_datemonth
        h3.list_title(itemprop='name')
          a(itemprop='url', href=lang_preurl+'/activities/'+result.slug+"/", rel='bookmark', title=result.post_title)!=result.post_title
        .text-muted.small.excerpt
          - console.log(result)
          if result.excerpt && result.excerpt.rendered
            div(itemprop='description')!=result.excerpt.rendered
