.boxItem(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
  meta(itemprop="position", content=position+1)
  .Activity(itemprop="item", itemscope, itemtype='http://schema.org/Event')
    .thumb-cnt(itemprop='image', itemscope, itemtype="http://schema.org/ImageObject")
      a(href=lang_preurl+'/activities/'+result.slug+"/", rel='bookmark', title!=result.post_title)
        img.img-responsive(src=result.featured.thumbnail, alt!='Image for: '+result.post_title, itemprop='url')
        meta(itemprop="width" content="480")
        meta(itemprop="height" content="270")
    .box-list
      .box-list-cnt
        .text-muted
          include ../../_common/inc_eventdate
        h3.list_title(itemprop='name')
          a(itemprop='url', href=lang_preurl+'/activities/'+result.slug+"/", rel='bookmark', title=result.post_title)!=result.post_title
        .places
          include ../../_common/inc_place
        .text-muted.small.excerpt
          if result.excerpt && result.excerpt.rendered
            div(itemprop='description')
              p!=result.excerpt.rendered
          span.sr-only(itemprop='organizer')
