ul.footer-nav
  li(class=page_data.url.indexOf('/concept') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/concept/')=global.__("Concept")
  li(class=page_data.url.indexOf('/events') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/events/')=global.__("Events")
  li(class=page_data.url.indexOf('/news') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/news/')=global.__("News")
  li(class=page_data.url.indexOf('/newsletter') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/newsletter/')=global.__("Newsletter")
  li(class=page_data.url.indexOf('/contacts') >= 0 ? "active" : undefined)
    a(href=lang_preurl + '/contacts/')=global.__("Contacts")