extends layout
block content
  article#container
    if result.post_content!=""
      .row
        .col-sm-9
          header
            h1.entry-title
              span.pull-left(itemprop="name")=result.post_title
              span.pull-right
                include ../_common/inc_share_span
          .rientro
            //include ../_common/inc_dateplace
            div(itemprop='description')!=result.post_content
        .col-sm-3
          img.img-responsive.wp-post-image(src=result.featured.thumbnail, alt=result.post_title, itemprop='image')
    else
      header
        h1.entry-title(itemprop='name')=result.post_title
    include ../_common/inc_grid
