extends layout
block content
  .container
    article#container(itemscope, itemtype='http://schema.org/Event')
      if result.post_content!=""
        .row
          .col-sm-9
            header
              h1.entry-title(itemprop='name')=meta_data.meta.title
            .rientro
              include ../_common/inc_dateplace_meta
              div(itemprop='description')!=result.post_content
          .col-sm-3
            img.img-responsive.wp-post-image(src=result.featured.thumbnail, alt=result.post_title, itemprop='image')
      else
        header
          h1.entry-title(itemprop='name')=result.post_title
      include ../_common/inc_grid
