extends layout
block content
  .container
    article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/Event')
      .row
        .col-sm-8
          img.img-responsive.main-image(src=result.featured.full, alt=result.post_title, itemprop='image')
          .rientro.hidden-xs(itemprop='description')!=result.post_content
          include ../common/inc_videos
          - console.log(result)
        .col-sm-4
          header
            h1.entry-title(itemprop='name')!=result.post_title
          .rientro
            include ../common/inc_dateplace
            .visible-xs(itemprop='description')!=result.post_content
            include ../common/inc_websites
            include ../common/inc_capauthors
            include ../common/inc_share

      include ../common/inc_grid
