extends layout
block home
  #carousel.carousel.slide(data-ride='carousel')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active.full-screen
        img(src='/lpm/images/slider/LPM2018-main-call.jpg', alt=global.__('Image for') + ': ' + 'LPM 2018 Rome | CALL FOR PROPOSALS')
        .carousel-caption.full-link
          a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2018 Rome | CALL FOR PROPOSALS") &nbsp;
      .item.full-screen
        img(src='/lpm/images/slider/AV-Performances_09.jpg', alt=global.__('Image for') + ': ' + 'LPM 2018 Rome | CALL FOR PROPOSALS')
        //.carousel-caption
          a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2018 Rome | CALL FOR PROPOSALS") Bella
      .item.full-screen
        img(src='/lpm/images/slider/AV-Performances_14.jpg', alt=global.__('Image for') + ': ' + 'LPM 2018 Rome | CALL FOR PROPOSALS')
        //.carousel-caption
          a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2018 Rome | CALL FOR PROPOSALS") Bella
      .item.full-screen
        img(src='/lpm/images/slider/Installations_03.jpg', alt=global.__('Image for') + ': ' + 'LPM 2018 Rome | CALL FOR PROPOSALS')
        //.carousel-caption
          a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2018 Rome | CALL FOR PROPOSALS") Bella
      .item.full-screen
        img(src='/lpm/images/slider/Mapping_01.jpg', alt=global.__('Image for') + ': ' + 'LPM 2018 Rome | CALL FOR PROPOSALS')
        //.carousel-caption
          a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2018 Rome | CALL FOR PROPOSALS") Bella
      .item.full-screen
        img(src='/lpm/images/slider/Talks_01.jpg', alt=global.__('Image for') + ': ' + 'LPM 2018 Rome | CALL FOR PROPOSALS')
        //.carousel-caption
          a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2018 Rome | CALL FOR PROPOSALS") Bella
      .item.full-screen
        img(src='/lpm/images/slider/Talks_04.jpg', alt=global.__('Image for') + ': ' + 'LPM 2018 Rome | CALL FOR PROPOSALS')
        //.carousel-caption
          a(href=lang_preurl+"/editions/2018-rome/call-to-participate/", title="LPM 2018 Rome | CALL FOR PROPOSALS") Bella


    // Indicators
    ol.carousel-indicators
      li.active(data-target='#carousel', data-slide-to='0')
      li(data-target='#carousel', data-slide-to='1')
      li(data-target='#carousel', data-slide-to='2')
      li(data-target='#carousel', data-slide-to='3')
      li(data-target='#carousel', data-slide-to='4')
      li(data-target='#carousel', data-slide-to='5')
      li(data-target='#carousel', data-slide-to='6')

    // Controls
    a.left.carousel-control(href='#carousel', role='button', data-slide='prev', title=global.__("Previous slide"))
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#carousel', role='button', data-slide='next', title=global.__("Nexts slide"))
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next

block content
  section.home(itemscope, itemtype='http://schema.org/ItemList')
    .container-fluid
      h1.entry-title(itemprop="name") News
    .swiper-container
      .swiper-wrapper
        each result, position in results.news
          include boxes/box_news
    .container-fluid
      .text-right.boxItem
        a.btn.btn-primary.btn-sm(href="/news/", title="See all News") See all News
  section.home(itemscope, itemtype='http://schema.org/ItemList')
    .container-fluid
      h1.entry-title(itemprop="name") Satellite Events
    .swiper-container
      .swiper-wrapper
        each result, position in results.events
          include boxes/box_event
    .container-fluid
      .text-right.boxItem
        a.btn.btn-primary.btn-sm(href="/events/", title="See all Events") See all Events
        !="&nbsp;&nbsp;"
        a.btn.btn-primary.btn-sm(href="/timeline/", title="See all in a Timeline") See all in a Timeline
        !="&nbsp;&nbsp;"
        a.btn.btn-primary.btn-sm(href="/map/", title="See all in a Map") See all in a Map

  section.home(itemscope, itemtype='http://schema.org/ItemList')
    .container-fluid
      h1.entry-title(itemprop="name") Editions
    .swiper-container
      .swiper-wrapper
        each result, position in results.editions
          include boxes/box_edition
    .container-fluid
      .text-right.boxItem
        a.btn.btn-primary.btn-sm(href="/editions/", title="See all Editions") See all Editions
        !="&nbsp;&nbsp;"
        a.btn.btn-primary.btn-sm(href="/timeline/", title="See all in a Timeline") See all in a Timeline
        !="&nbsp;&nbsp;"
        a.btn.btn-primary.btn-sm(href="/map/", title="See all in a Map") See all in a Map
