extends layout
block content
	article(itemscope, itemtype='http://schema.org/' + itemtype)
		.row
			.col-sm-9
				header
					h1.entry-title(itemprop='name')!=result.post_title
				.rientro
					div(itemprop='description')!=result.post_content
					.dateModified(itemprop='dateModified', content=result.date)=result.dateHR
					br
					include inc_share
			.col-sm-3
				if result.featured
					img.img-responsive.wp-post-image(src=result.featured.thumbnail, alt!=result.post_title, itemprop='image')
		.timeline
			each result in results
				include boxes/box_timeline
		.text-center.boxItem
			- var y = year-1
			a.btn.btn-primary#loadmore(href="/timeline/"+(year-1)+"/") LOAD MORE
			script.
				var year = #{y}


