extends layout
block content
  article#container(itemscope, itemtype='http://schema.org/' + itemtype)
    //.row
      .col-sm-9
    header
      h1.hidden(itemprop="name")=result.post_title
    .rientro
      div(itemprop='description')!=result.post_content
      .dateModified.hidden(itemprop='dateModified', content=result.date)=result.dateModifiedHR
    .timeline.results
      each result, position in results
        include boxes/box_timeline
    .text-center.read-more.inverse
      if (next)
        a(href='/timeline/' + next, title=global.__("Load More"))
          !=global.__("Load More")
          !=" "
          i.icon-right
        span.loading.hide
          i.icon-spin3.animate-spin
          span.sr-only=" Loading..."
      else
        .end=global.__("You reached the end")


