extends layout
block content
  article#container(itemscope, itemtype='http://schema.org/' + itemtype)
    .row
      .col-sm-9
        header
          - //console.log(result)
          h1.entry-title(itemprop='name')!=result.post_title
        .rientro
          div(itemprop='description')!=result.post_content
          .dateModified.hidden(itemprop='dateModified', content=result.date)=result.dateHR
          include ../_common/inc_share
      .col-sm-3
        if result.featured
          img.img-responsive.wp-post-image(src=result.featured.thumbnail, alt!=result.post_title, itemprop='image')
    br
    #map-canvas(style="height:700px")
    script(type="text/javascript").
      var markers = !{JSON.stringify(markers)};
    script(type="text/javascript", src='/' + config.prefix + '/js/map.js')