nav
  ul.footer-nav
    li
      a(href=lang_preurl + '/concept/') Concept
    li
      a(href=lang_preurl + '/news/') News
    li
      a(href=lang_preurl + '/events/')=global.__("Events")
    li
      a(href=lang_preurl+'/gallery/')=global.__("Editions")
    //li
      a(href=lang_preurl + '/the-app/') The App
    li
      a(href=lang_preurl + '/press/') Press
    li
      a(href=lang_preurl + '/contacts/')=global.__("Contacts")