extends layout
block content
  article.pagepaddingtop#container(itemprop=itemprop, itemscope, itemtype='http://schema.org/Person')
    .row
      .col-sm-9
        img.img-responsive.main-image(src=result.img, alt=result.display_name, itemprop='image')

        div(itemprop='description')!=result.description
      .col-sm-3
        header
          h1.entry-title(itemprop='name')=result.display_name
        .rientro
          p(itemprop='jobTitle')
            i=result.role_label
            p
              if result.auth_contents.events && result.auth_contents.events.length
                !=config.posttypes_labels.events + ": " + result.auth_contents.events.length
                br
              if result.auth_contents.news && result.auth_contents.news.length
                !=config.posttypes_labels.news + ": " + result.auth_contents.news.length
                br
          include ../_common/inc_share
    if result.auth_contents.events && result.auth_contents.events.length
      - var res = result.auth_contents.events
      section(itemscope, itemtype="https://schema.org/ItemList")
        h3(itemprop="name")=config.posttypes_labels.events
        .row.isotope.results
          each result, position in res
            .col-xl-3.col-lg-4.col-md-12.col-sm-12.isotopeitem
              include boxes/box_event
    if result.auth_contents.news && result.auth_contents.news.length
      - var res = result.auth_contents.news
      section(itemscope, itemtype="https://schema.org/ItemList")
        h3(itemprop="name")=config.posttypes_labels.news
        .row.isotope.results
          each result, position in res
            .col-xl-3.col-lg-4.col-md-12.col-sm-12.isotopeitem
              include boxes/box_news