extends layout
block content
  .jumbotron
    .container
      h1 Mongo Invoices
      .row
        .col-sm-8
          p
            | Mongo Invoices is the first Italian open source software for managing invoices, offers and customers, the software is now available in its Alpha version.
          p
            | Mongo Invoices is based on  
            a(href='http://www.mongodb.org/') MongoDB
            |  and 
            a(href='http://nodejs.org/') NodeJS
            | .
          p
            a.btn.btn-primary.btn-lg(href='/news/mongo-invoices/') Learn more
        .col-sm-4
          img.img-responsive.wp-post-image(width='991', height='535', src='https://flyer.dev.flyer.it/files/2013/08/mi.jpg', alt='mi')
  article#container(itemscope, itemtype='http://schema.org/Event')
    .row
      .col-xl-3.col-md-4
        h1.entry-title.boxItem News
        each result, position in results.news
          include boxes/box_news
        .text-right.boxItem
          a.btn.btn-primary(href="/news/")=global.__("See all News")
      .col-xl-6.col-md-4
        h1.entry-title.boxItem=global.__("Satellite Events")
        .row.isotope.results
          each result, position in results.events
            .col-xl-6.col-xs-12.isotopeitem(class=position+1>=config.sez.home.events.limit/2 ? "visible-xl hidden-lg" : undefined)
              include boxes/box_event
        .text-right.boxItem
          a.btn.btn-primary(href="/events/")=global.__("See all Events")
      .col-xl-3.col-md-4
        h1.entry-title.boxItem=global.__("Network")
        each result, position in results.network
          include boxes/box_networks
        .text-right.boxItem
          a.btn.btn-primary(href="/network/")=global.__("See all Network news")
